.card-container
    .card.sticky-action
        .card-image.waves-effect.waves-block.waves-light
            img.activator(width="200", height="200", src='{{album.images[0].url}}')
        .card-content
            span.card-title.activator.grey-text.text-darken-4
            | {{album.name}}
            i.material-icons.right more_vert
            p
            a(href='{{album.external_urls.spotify}}') Spotify link
        .card-action
            a([routerLink]="['../albums', album.id]") Albums
            a(href='{{album.href}}') This is a link
        .card-reveal
            span.card-title.grey-text.text-darken-4
                | Card Title
            i.material-icons.right close
            p
                | Here is some more information about this product that is only revealed once clicked on.
